<footer class="">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
        <span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
      </div>
      <div class="col-md-12">
        <a href="mailto:{{ site.email }}"><span class="glyphicon glyphicon-envelope"></span> {{ site.email }}</a>
        <span class="point"> · </span>

          <span class="point"> · </span>
          <span><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></span>
          <span class="point"> · </span>
          <span>{{ site.description }}</span>
          <span class="point"> · </span>
          <span>&copy; 2015 </span>
          <span class="point"> · </span>
          <span>Designed by @</a></span>

      </div>
    </div>
  </div>
</footer>
